{% extends "tj/base_template.html" %}
{% block title %}OECD CRS Data on Transitional Justice{% endblock %}
{% block body_content %}
<div class="container">
    <div class="page-header">
        <h3>About this Site</h3>
    </div>
    <div class="row top-buffer">
        <div class="col-md-10">
            <h4>Purpose</h4>
            <p>
                This website provides an interface to search the OECD's Creditor Reporting System (CRS) data,
                much like OECD's <a href="http://stats.oecd.org/qwids/">QWIDS</a> site.
            </p>
            <p>
                The intention is to build a repository of international aid data related to
                <a href="https://en.wikipedia.org/wiki/Transitional_justice">Transitional Justice</a>
                (TJ) as recorded in the CRS database, which includes all bilateral assistance from OECD member states
                and some multilateral assistance.

                TJ data is not clearly designated as such in CRS, so manual classification has been performed
                on the results of ad-hoc text queries in various languages (e.g. "transitional justice", "truth", "ICTY", etc).
            </p>
            <p>
                You can review the results of this classification <a href="{% url 'review_analysis' %}">here</a>.
            </p>
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-md-10">
            <h4>Methodology</h4>
            <p>
                Raw CRS data was downloaded from the OECD on 2014-01-30 and filtered on various criteria:
                <ul>
                    <li>
                        "Purpose Codes" that might potentially refer to TJ work
                    </li>
                    <li>
                        Aid data from the year 2000 onwards
                    </li>
                    <li>
                        Columns relevant to the project
                    </li>
                </ul>
                This reduced dataset was loaded into a database along with custom classification fields.
                This website was then used to query and classify the unanalyzed data and review the
                analyzed results.
            </p>
            <p>
                The data processing and website code is open source, and available on
                <a href="https://github.com/rosnfeld/crs_tj/">github</a>.
            </p>
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-md-10">
            <h4>People</h4>
            <p>Paige Arthur is the primary persion responsible for querying and coding the grant data.
               She is Principal of <a href="http://publicactionresearch.com/">Public Action Research</a>.
                You can contact her at
                <a href="mailto:parthur@publicactionresearch.com">parthur@publicactionresearch.com</a>.
            </p>
            <p>
                Andrew Rosenfeld wrote the code to collect and transform OECD data and interact with it via this web site.
            </p>
            <p>
                The development of the database is supported through a grant from the Bureau of Democracy, Human Rights, and Labor of the
                U.S. State Department, as well as through pro bono work from Andrew Rosenfeld.
            </p>
        </div>
    </div>
    <hr/>
    <div class="row">
        <ol class="breadcrumb">
          <li><a href="{% url 'home' %}">Home</a></li>
          <li class="active">About</li>
        </ol>
    </div>
</div>
{% endblock %}
