<!DOCTYPE html>
<html>
<head>
    <title>Query Combinations Home</title>
    {% include 'tj/header_includes.html' %}
</head>
<body>
<div class="container">
    <div class="page-header">
        <h3>Query Combinations</h3>
    </div>
    <div class="row">
        <div class="col-md-4">
            {% if combos %}
                <ul class="list-group">
                    {% for combo in combos %}
                        <li class="list-group-item">
                            <a href="{% url 'combo_edit' combo.id %}">{{ combo.name }}</a>
                            <a href="{% url 'combo_delete' combo.id %}"
                               onclick="return confirm('Delete {{ combo.name }}?');">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                No query combinations currently configured.
            {% endif %}

            <p>
                <a href="{% url 'combo_create' %}">Create a new query combination</a>
            </p>
        </div>
    </div>
    <hr/>
    <div class="row">
        <ol class="breadcrumb">
          <li><a href="{% url 'home' %}">Home</a></li>
          <li class="active">Query Combinations</li>
        </ol>
    </div>
</div>
</body>
</html>
