{% extends "tj/base_template.html" %}
{% block title %}OECD CRS Data on Transitional Justice{% endblock %}
{% block body_content %}
<div class="container">
    <div class="page-header">
        <h3>CRS Data on Transitional Justice</h3>
    </div>
    <div class="row">
        <div class="col-md-4">
            <a href="{% url 'query_build' %}">Query Unanalyzed Data</a>
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-md-4">
            <a href="{% url 'review_analysis' %}">Review Analyzed Data</a>
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-md-4">
            <a href="{% url 'about' %}">About this site</a>
        </div>
    </div>
</div>
{% endblock %}
