<!DOCTYPE html>
<html>
<head>
    <title>Query CRS</title>
    {% include 'tj/header_includes.html' %}
    <script>
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            crossDomain: false, // obviates need for sameOrigin test
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                }
            }
        });

        function getSelectedCodesForFilter(filter_type) {
            var results = [];

            var selector = 'input:checkbox[id^="' + filter_type + '_"]:checked';
            $(selector).each(function (index, item) {
                var checkbox_id = $(this).attr('id');
                var code = checkbox_id.substring(checkbox_id.lastIndexOf('_') + 1);
                results.push(code);
            });

            return results;
        }

        function refreshResults() {
            // redo this as jQuery?
            var search_terms = document.getElementById('query_text').value;

            var code_filters = {};
            {% for filter_type in code_filter_types %}
            code_filters['{{ filter_type }}'] = getSelectedCodesForFilter('{{ filter_type }}');
            {% endfor %}

            $.ajax({
                url: "{% url 'query_results_new' %}",

                type: "POST",

                data: JSON.stringify({search_terms: search_terms, code_filters: code_filters}),

                contentType: "application/json; charset=utf-8",

                success: function (html) {
                    $("#results_holder").html(html);
                },

                error: function (xhr, status) {
                    alert("Failed to process query results");
                }
            });
        }

        function editFilter(filter_type) {
            $("#modal_filter_" + filter_type).modal();
        }

        function style_filter_dropdown(filter_type) {
            var filter_jquery_object = $('#fb_' + filter_type);
            if (getSelectedCodesForFilter(filter_type).length > 0) {
                filter_jquery_object.addClass('filter_active');
            } else {
                filter_jquery_object.removeClass('filter_active');
            }
        }

        $(document).ready(function() {
        });
    </script>
</head>
<body>
<div class="container">
    <ol class="breadcrumb">
        <li><a href="{% url 'home' %}">Home</a></li>
        <li class="active">Query CRS</li>
    </ol>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <label for="query_text" class="col-md-1">Query</label>
                <div class="col-md-7">
                    <input type="text" id="query_text" value="" class="form-control" placeholder="search terms">
                </div>
            </div>
            <div class="row top-buffer">
                <label class="col-md-1">Filters</label>
                <div class="col-md-8">
                    {% for filter_type in code_filter_types %}
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" id="fb_{{ filter_type }}"
                                    onclick="editFilter('{{ filter_type }}')">
                                {{ filter_type|title }} <span class="caret"></span>
                            </button>
                        </div>
                    {% endfor %}
                </div>
                <button class="btn btn-default" type="button" onclick="refreshResults()">
                    <span class="glyphicon glyphicon-search"></span>
                    Run Query
                </button>
            </div>
        </div>
    </div>
    <div id="results_holder"></div>
    <div id="modal_holder">
        {% for filter_type, filter_rows in code_filter_map.items %}
        <div class="modal fade" id="modal_filter_{{ filter_type }}" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" id="filter_title">Filter by {{ filter_type|title }}</h4>
                    </div>
                    <div class="modal-body">
                        <em>Select the categories you would like to include.</em>
                        <hr/>
                        <div style="overflow:auto" id="{{ filter_type }}_option_list">
                            {% for i, row in filter_rows.iterrows %}
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" class="others" id="{{ filter_type }}_{{ row.code }}">
                                        {{ row.name }}
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                        <script>
                            var adjustListSize = function(){
                                var list_id = '#{{ filter_type }}_option_list';
                                // this fraction of browser height seems to look good
                                $(list_id).css({'height': $(window).height() * 0.52});
                            };

                            $(window).bind("load resize", adjustListSize());

                            adjustListSize();
                        </script>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal"
                                onclick="style_filter_dropdown('{{ filter_type }}')">Confirm Selections</button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
</body>
</html>
