{% extends "tj/base_template.html" %}
{% block title %}{{ title }}{% endblock %}
{% block header_content %}
    <script>
        initializeAJAX('{{ csrf_token }}');

        function getSelectedCodesForFilter(filter_type) {
            var results = [];

            var selector = 'input:checkbox[id^="' + filter_type + '_"]:checked';
            $(selector).each(function (index, item) {
                var checkbox_id = $(this).attr('id');
                var code = checkbox_id.substring(checkbox_id.lastIndexOf('_') + 1);
                results.push(code);
            });

            return results;
        }

        function refreshResults(page_number) {
            if (page_number == null) {
                page_number = 0
            }

            // redo this as jQuery?
            var search_terms = document.getElementById('query_text').value;

            var code_filters = {};
            {% for filter_type in code_filter_types %}
            code_filters['{{ filter_type }}'] = getSelectedCodesForFilter('{{ filter_type }}');
            {% endfor %}

            var custom_filters = {};
            {% for filter_type in custom_filter_types %}
            custom_filters['{{ filter_type }}'] = getSelectedCodesForFilter('{{ filter_type }}');
            {% endfor %}

            var years = getSelectedCodesForFilter('year');

            $.ajax({
                url: "{{ results_url }}",

                type: "POST",

                data: JSON.stringify({search_terms: search_terms,
                    code_filters: code_filters, custom_filters: custom_filters, years: years,
                    page_number: page_number}),

                contentType: "application/json; charset=utf-8",

                success: function (html) {
                    $("#results_holder").html(html);
                },

                error: function (xhr, textStatus, errorThrown) {
                    alert("Failed to process query results: " + textStatus + ", " + errorThrown);
                }
            });
        }

        function editFilter(filter_type) {
            $("#modal_filter_" + filter_type).modal();
        }

        function style_filter_dropdown(filter_type) {
            var filter_jquery_object = $('#fb_' + filter_type);
            if (getSelectedCodesForFilter(filter_type).length > 0) {
                filter_jquery_object.addClass('filter_active');
            } else {
                filter_jquery_object.removeClass('filter_active');
            }
        }

        $(document).ready(function() {
            // add a wait cursor during AJAX calls
            $(document).ajaxStart(function () { $('html').addClass('wait'); });
            $(document).ajaxStop(function () { $('html').removeClass('wait'); });

            {% if submit_on_load %}
            refreshResults();
            {% endif %}
        });
    </script>
{% endblock %}
{% block body_content %}
<div class="container">
    <ol class="breadcrumb">
        {% for parent_name, parent_url in parents %}
        <li><a href="{{ parent_url }}">{{ parent_name }}</a></li>
        {% endfor %}
        <li class="active">{{ title }}</li>
    </ol>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <label for="query_text" class="col-md-1">Query</label>
                <div class="col-md-7">
                    <input type="text" id="query_text" value="" class="form-control" placeholder="search terms">
                </div>
            </div>
            <div class="row top-buffer">
                <label class="col-md-1">Filters</label>
                <div class="col-md-8">
                    <div class="btn-group btn-group-sm">
                    {% for filter_type in custom_filter_types %}
                            <button type="button" class="btn btn-default dropdown-toggle" id="fb_{{ filter_type }}"
                                    onclick="editFilter('{{ filter_type }}')">
                                {{ filter_type|title }} <span class="caret"></span>
                            </button>
                    {% endfor %}
                        <button type="button" class="btn btn-default dropdown-toggle" id="fb_year"
                                onclick="editFilter('year')">
                            Year <span class="caret"></span>
                        </button>
                    {% for filter_type in code_filter_types %}
                            <button type="button" class="btn btn-default dropdown-toggle" id="fb_{{ filter_type }}"
                                    onclick="editFilter('{{ filter_type }}')">
                                {{ filter_type|title }} <span class="caret"></span>
                            </button>
                    {% endfor %}
                    </div>
                </div>
                <button class="btn btn-default" type="button" onclick="refreshResults()">
                    <span class="glyphicon glyphicon-search"></span>
                    Run Query
                </button>
            </div>
        </div>
    </div>
    <div id="results_holder"></div>
    <div id="modal_holder">
        {% include "tj/filter_modal.html" with filter_type='year' filter_rows=year_filter_rows %}
        {% for filter_type, filter_rows in custom_filter_map.items %}
            {% include "tj/filter_modal.html" %}
        {% endfor %}
        {% for filter_type, filter_rows in code_filter_map.items %}
            {% include "tj/filter_modal.html" %}
        {% endfor %}
    </div>
</div>
{% endblock %}
