<html>
<head>
    <title>Edit Query Combination</title>
</head>
<body>
{{ combo.name }}
    <div>
        <label>Included Queries:
            <select multiple="multiple" name="query_ids">
                {% for query in possible_queries %}
                    <option value="{{ query.id }}"
                            {% if query in combo.queries.all %}
                            selected
                            {% endif %}
                            >
                        {{ query.text }}
                    </option>
                {% endfor %}
            </select>
        </label>
    </div>
<p>
    <a href="{% url 'combos_home' %}">Query Combinations</a>
</p>
<p>
    <a href="{% url 'home' %}">Home</a>
</p>
</body>
</html>
