<!DOCTYPE html>
<html>
<head>
    <title>Edit Query</title>
    {% include 'tj/header_includes.html' %}
    {% load staticfiles %}
    <script src="{% static 'tj/filter_manager.js' %}"></script>
    <script>
        // TODO extract this setup to some sort of other header/template, packaged with the script include?
        var get_filters_url = '{% url 'query_get_filters_json' query.id %}';
        var filter_update_url_map = {};
        {% for filter_type in code_filter_types %}
        filter_update_url_map['{{ filter_type }}'] = '{% url 'query_filter_update' query.id filter_type %}';
        {% endfor %}
        setFilterUrls(get_filters_url, filter_update_url_map);
    </script>

    <script>
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            crossDomain: false, // obviates need for sameOrigin test
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                }
            }
        });

        function updateRowStyleForManualExclusion(pandas_row_id, is_excluded) {
            var row = document.getElementById('r_' + pandas_row_id);
            var checkbox = document.getElementById('c_' + pandas_row_id);

            if (row == null) {
                return; // perhaps filtered away
            }

            // use strikethrough to indicate excluded rows
            // maybe "faded" (low alpha) style would look nicer?
            // TODO maybe change this to be a CSS class you add/remove?
            // that would let you make styling decisions a bit more cleanly
            if (is_excluded) {
                row.style.textDecoration = 'line-through';
            } else {
                row.style.textDecoration = 'none';
            }

            checkbox.checked = is_excluded;
        }

        function refreshExclusions() {
            $.ajax({
                url: "{% url 'query_get_exclusions_json' query.id %}",

                type: "GET",

                success: function (json) {
                    // set all rows as non-excluded, first
                    $("[id^=r_]").each( function (index, row) {
                        var row_id = $(this).attr('id');
                        var pandas_row_id = row_id.substring(2);
                        updateRowStyleForManualExclusion(pandas_row_id, false);
                    });

                    // iterate over the exclusions
                    $.each(json, function(i, pandas_row_id) {
                        updateRowStyleForManualExclusion(pandas_row_id, true);
                    });
                },

                error: function (xhr, status) {
                    alert("Failed to refresh manual exclusions");
                }
            });
        }

        function handleCheckbox(checkbox) {
            // this substring bit is admittedly gross
            // maybe we can do something like just have the id on the row, and do parent/child association
            var pandas_row_id = checkbox.id.substring(2);

            var url;

            if (checkbox.checked) {
                url = "{% url 'query_add_exclusion' query.id %}";
            } else {
                url = "{% url 'query_remove_exclusion' query.id %}";
            }

            $.ajax({
                url: url,

                data: {
                    row_id: pandas_row_id
                },

                type: "POST",

                success: refreshExclusions,

                error: function (xhr, status) {
                    alert("Failed to handle manual exclusion");
                }
            });
        }

        function refreshTable() {
            $.ajax({
                url: "{% url 'query_results' query.id %}",

                type: "GET",

                success: function (html) {
                    $("#table_holder").html(html);
                    refreshExclusions();
                },

                // code to run if the request fails; the raw request and status codes are passed to the function
                error: function (xhr, status) {
                    alert("Failed to process query results");
                }
            });
        }

        function updateQueryText() {
            var query_text = document.getElementById('query_text').value;

            $.ajax({
                url: "{% url 'query_update_text' query.id %}",

                data: {
                    query_text: query_text
                },

                type: "POST",

                success: refreshTable,

                error: function (xhr, status) {
                    alert("Failed to update query");
                }
            });
        }

        function query_box_keyup(event) {
            if (event.which == 13) { // 'Enter' key
                updateQueryText()
            }
        }


        function editFilter(filter_box_url) {
            $.ajax({
                url: filter_box_url,

                type: "GET",

                success: function (html) {
                    $("#modal_holder").html(html);
                    $("#modal_filter").modal()
                },

                error: function (xhr, status) {
                    alert("Failed to edit filter");
                }
            });
        }

        function style_filter_dropdowns() {
            var filter_types = getFilterTypes();
            for (var i = 0; i < filter_types.length; i++) {
                var filter_type = filter_types[i];
                var filter_jquery_object = $('#fb_' + filter_type);
                if (isFilterActive(filter_type)) {
                    filter_jquery_object.addClass('filter_active');
                } else {
                    filter_jquery_object.removeClass('filter_active');
                }
            }
        }

        $(document).ready(function() {
            $("#query_text").keyup(query_box_keyup);
            refreshTable();
            refreshCodeFilters(style_filter_dropdowns);
        });
    </script>
</head>
<body>
<div class="container">
    <ol class="breadcrumb">
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'queries_home' %}">Queries</a></li>
        <li class="active">Query Edit</li>
    </ol>
    <div class="row">
    <div class="form-group">
        <label for="query_text">Query text</label>
        <div class="input-group">
            <input type="text" id="query_text" value="{{ query.text }}" class="form-control"/>
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" onclick="updateQueryText()">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
        </div>
    </div>
    </div>
    <div class="row">
       {% for filter_type in code_filter_types %}
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" id="fb_{{ filter_type }}"
                    onclick="editFilter('{% url 'query_filter_edit' query.id filter_type %}')">
                {{ filter_type|title }} <span class="caret"></span>
            </button>
        </div>
        {% endfor %}
    </div>
    <div class="row">
        <br/>
    </div>
    <div class="row">
        <button class="btn btn-default" onclick="window.open('{% url 'query_export_csv' query.id %}')">
            Export Full Data CSV
        </button>
    </div>
    <div id="table_holder"></div>
    <div id="modal_holder"></div>
</div>
</body>
</html>
