<!DOCTYPE html>
<html>
<head>
    <title>Queries Home</title>
    {% include 'tj/header_includes.html' %}
</head>
<body>
<div class="container">
    <div class="page-header">
        <h3>Queries</h3>
    </div>
    <div class="row">
        <div class="col-md-4">
            {% if queries %}
                <ul class="list-group">
                    {% for query in queries %}
                        <li class="list-group-item">
                            <a href="{% url 'query_edit' query.id %}">{{ query.text }}</a>
                            <a href="{% url 'query_delete' query.id %}"
                               onclick="return confirm('Delete {{ query.text }}?');">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                No queries currently configured.
            {% endif %}
            <p>
                <a href="{% url 'query_create' %}">Create a new query</a>
            </p>
        </div>
    </div>
    <hr/>
    <div class="row">
        <ol class="breadcrumb">
          <li><a href="{% url 'home' %}">Home</a></li>
          <li class="active">Queries</li>
        </ol>
    </div>
</div>
</body>
</html>
