<!DOCTYPE html>
<html>
<head>
    <title>Edit Query</title>
    {% include 'tj/header_includes.html' %}
    <script>
        var manual_exclusions = {};

        function updateRowStyleForManualExclusions(pandas_row_id) {
            var row = document.getElementById('r_' + pandas_row_id);

            // use strikethrough to indicate excluded rows
            // maybe "faded" (low alpha) style would look nicer?
            if (manual_exclusions[pandas_row_id]) {
                row.style.textDecoration = 'line-through';
            } else {
                row.style.textDecoration = 'none';
            }
        }

        function handleCheckbox(checkbox) {
            // this substring bit is admittedly gross
            // maybe we can do something like just have the id on the row, and do parent/child association
            var pandas_row_id = checkbox.id.substring(2);
            manual_exclusions[pandas_row_id] = !checkbox.checked;

            updateRowStyleForManualExclusions(pandas_row_id);
        }

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            crossDomain: false, // obviates need for sameOrigin test
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                }
            }
        });

        function refreshTable() {
            $.ajax({
                url: "{% url 'query_run_json' query.id %}",

                // data to send (will be converted to a query string)
                data: {
                    id: {{ query.id }}
                },

                type: "GET",

                // type of data we expect back
                dataType: "json",

                // code to run if the request succeeds;
                // the response is passed to the function
                success: function (json) {
                    // refresh manual exclusions from server
                    manual_exclusions = {};

                    var table_body = "";
                    $.each(json, function(pandas_row_id, row_map) {
                        var checked = "checked";
                        if (this.excluded) {
                            checked = "";
                            manual_exclusions[pandas_row_id] = true;
                        }

                        var tbl_row = "";
                        tbl_row += "<td><input type='checkbox' id='c_" + pandas_row_id + "' " + checked +
                                " onclick='handleCheckbox(this)'/> </td>";

                        tbl_row += "<td>" + this.crsid + "</td>";
                        tbl_row += "<td>" + this.Year + "</td>";
                        tbl_row += "<td>" + this.donorname + "</td>";
                        tbl_row += "<td>" + this.agencyname + "</td>";
                        tbl_row += "<td>" + this.recipientname + "</td>";

                        // could maybe preserve the nan/null here rather than filling in zero
                        var disbursement = (this.usd_disbursement_defl || 0);
                        tbl_row += "<td>" + disbursement.toFixed(6) + "</td>";

                        tbl_row += "<td>" + this.sectorname + "</td>";
                        tbl_row += "<td>" + this.projectnumber + "</td>";
                        tbl_row += "<td>" + this.projecttitle + "</td>";
                        tbl_row += "<td>" + this.shortdescription + "</td>";
                        tbl_row += "<td>" + this.longdescription + "</td>";

                        table_body += "<tr id='r_" + pandas_row_id + "'>" + tbl_row + "</tr>";
                    })
                    $("#results_table tbody").html(table_body);

                    $.each(json, function(pandas_row_id, row_map) { updateRowStyleForManualExclusions(pandas_row_id) });
                },

                // code to run if the request fails; the raw request and status codes are passed to the function
                error: function (xhr, status) {
                    alert("Failed to process query results");
                }
            });
        }

        function updateQuery() {
            var query_text = document.getElementById('query_text').value;

            var manual_exclusion_ids = [];
            for (var pandas_row_id in manual_exclusions) {
                if (manual_exclusions.hasOwnProperty(pandas_row_id) && manual_exclusions[pandas_row_id]) {
                    manual_exclusion_ids.push(pandas_row_id);
                }
            }

            $.ajax({
                url: "{% url 'query_update' query.id %}",

                // could try posting JSON here, but it seems a bit ugly on the server side
                data: {
                    query_text: query_text,
                    manual_exclusion_ids: manual_exclusion_ids
                },

                type: "POST",

                success: refreshTable,

                error: function (xhr, status) {
                    alert("Failed to update query");
                }
            });
        }

        $(document).ready(refreshTable);
    </script>
</head>
<body>
<div class="container">
    <ol class="breadcrumb">
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'queries_home' %}">Queries</a></li>
        <li class="active">Query Edit</li>
    </ol>
    <div>
    <label>Query text: <input type="text" id="query_text" value="{{ query.text }}"/></label>
    <input type="button" value="Update Query" onclick="updateQuery()"/>
    <input type="button" value="Export CSV" onclick="window.open('{% url 'query_export_csv' query.id %}')"/>
</div>
<div>
    <table id="results_table" class="table">
        <thead>
            <tr>
                <th>Include</th>
                <th>CRS ID</th>
                <th>Year</th>
                <th>Donor</th>
                <th>Agency</th>
                <th>Recipient</th>
                <th>USD Disbursed (millions of 2011 dollars)</th>
                <th>Sector</th>
                <th>Project Number</th>
                <th>Project Title</th>
                <th>Short Description</th>
                <th>Long Description</th>
            </tr>
        </thead>
        <tbody>
            <tr><td>Running query...</td></tr>
        </tbody>
    </table>
</div>
</div>
</body>
</html>
